@model RazorToPDF.Views.Shared._PageHeaderBarModel

<div class="row">
    <div class="col-md-12">
        <div class="full-width-div bg-success text-light p-3">
            <div class="d-flex flex-row ms-5" style="height: 20px;">
                <div class="d-flex align-items-center justify-content-center" style="width: 20px; height: 20px; border-radius: 50%; background-color: white; margin-right: 10px;">
                    <span class="fw-bold" style="color: black;">@Model.Number</span>
                </div>
                <p class="fw-bold">@Model.Title</p>
            </div>
        </div>
    </div>
</div>
