@model RazorToPDF.Views.Shared._PageHeaderBarModel

<div class="row">
    <div class="col-md-12">
        <div style="background-color:#398842" class="full-width-div text-light p-3">
            <div class="d-flex flex-row ms-5" style="height: 30px;">
                <div class="d-flex align-items-center justify-content-center" style="width: 40px; height: 30px; border-radius: 40%; background-color: white; margin-right: 10px;">
                    <span class="fw-bold mt-1" style="color: black;">@Model.Number</span>
                </div>
                <p class="fw-bold">@Model.Title</p>
            </div>
        </div>
    </div>
</div>
