@page
@model RazorToPDF.Views.Shared.HPA._HPAPartialModel
@{
}

<div class="print-row py-2 mt-4">
    <div class="col">
        <label for="StudentName" class="form-label">Student</label>
        <input type="text"
               class="form-control"
               id="StudentName"
               placeholder="Jane Doe" />
    </div>
    <div class="col">
        <label for="studentDateDateAdministered" class="form-label">Date Date Administered</label>
        <input type="text"
               class="form-control"
               id="studentDateDateAdministered"
               placeholder="5/11/2023" />
    </div>
    <div class="col">
        <label for="studentAdministeredBy" class="form-label">Administered by</label>
        <input type="text"
               class="form-control"
               id="studentAdministeredBy"
               placeholder="Walter" />
    </div>
</div>

<div class="px-3 py-2 blue_box mt-4 border border-2 bg-opacity-10">
    <div class="print-row ">
        <div class="col">
            <p class="form-label">Typical Duration (minutes)</p>
            <p>10 - 20</p>
        </div>
        <div class="col-7 me-3">
            <label for="actualDuration" class="form-label">Actual Duration</label>
            <input type="number"
                   class="form-control"
                   id="actualDuration"
                   placeholder="15" />
        </div>
    </div>
</div>

<div class="px-3 py-2 mt-4 ash_box border border-2">
    <div class="d-flex flex-row">
        <div><p class="fs-5 fw-bold form-label">Test Purpose</p></div>
        <div class="green_line"></div>
    </div>
    <p>This test is used to determine whether student has mastered all phonics skills necessary for reading.</p>
</div>

<div class="px-3 py-2 blue_box mt-4 border border-2 bg-opacity-10">
    <div>
        <div class="d-flex flex-row">
            <p class="fs-5 fw-bold form-label">Directions / Test Specific Observations</p>
            <div class="green_line"></div>
        </div>
    </div>
    <div>
        <div>
            <div class="heading_size">A. DIRECTIONS</div>
            <div class="print-row list_size">
                <div class="px-4">
                    <ol>
                        <li class="col-6">
                            <ul style="list-style-type:none" class="ps-0">
                                <li class="pb-2">
                                    Print the Huntington Phonics Assessment Teacher Copy or have it open on the screen to mark correct answers.
                                </li>
                                <li class="pb-2">
                                    Before administering the Huntington Phonics Assessment, open the Huntington Phonics Assessment Student PDF document and have it ready to share on Zoom.
                                </li>
                            </ul>
                        </li>
                        <li class="col-6">
                            Say,
                            <ul class="italic_font pb-2" style="list-style-type:disc;">
                                <li>
                                    “Now we are going to look at the sounds letters make and read some words. I'm going to ask you to do a few different activiities for me.”
                                </li>
                            </ul>
                            <ul style="list-style-type:none" class="ps-0">
                                <li class="pb-2">
                                    Administer each section based on the following directions. Check off incorrect responses. Attempt  write what the student said.
                                </li>
                            </ul>
                        </li>
                        <li class="col-8">
                            Use the directions on the Reading Readiness test sheet.
                            <div>
                                <table class="table table-bordered border-black table-2 table-font-size">
                                    <thead style="background-color: rgba(200, 237, 243, 0.671);">
                                    <th class="col-4">Section</th>
                                    <th>Direction</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Ask student to say the sound that each letter or group of letters make</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                Ask student to say the sound the short vowels make.
                                                <br>
                                                <br>
                                                Then ask student to read the short vowel words.
                                                <br>
                                                <br>
                                                For the CONTEXT sub-section of Section B, turn student test sheet over. Read the sentence to student; ask student to repeat the sentence back to you.
                                                x                                                        <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Ask student to read the words with "silent e".</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Ask student to read the words.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="px-4 col"></div>
            </div>
        </div>
        <div>
            <div class="heading_size">B. TEST SPECIFIC OBSERVATIONS</div>
            <div class="print-row list_size">
                <div class="col-4 ps-3">
                    <p class="mb-1">1. Student's Effort was :</p>
                    <div class="d-flex flex-column ms-4 checkBox-label">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Very Poor">
                            <label class="form-check-label" for="inlineCheckbox1">Very Poor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" checked value="Poor">
                            <label class="form-check-label" for="inlineCheckbox1">Poor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Average">
                            <label class="form-check-label" for="inlineCheckbox1">Average</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Good">
                            <label class="form-check-label" for="inlineCheckbox1">Good</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Very Good">
                            <label class="form-check-label" for="inlineCheckbox1">Very Good</label>
                        </div>
                    </div>
                </div>
                <div class="col px-0">
                    <p class="mb-1">2. Attention Span :</p>
                    <div class="d-flex flex-column ms-4 checkBox-label">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Very Poor">
                            <label class="form-check-label" for="inlineCheckbox1">Very Poor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" checked value="Poor">
                            <label class="form-check-label" for="inlineCheckbox1">Poor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Average">
                            <label class="form-check-label" for="inlineCheckbox1">Average</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Good">
                            <label class="form-check-label" for="inlineCheckbox1">Good</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Very Good">
                            <label class="form-check-label" for="inlineCheckbox1">Very Good</label>
                        </div>
                    </div>
                </div>
                <div class="col-5 ps-3">
                    <p class="mb-1">3. Did student Exhibit frustration?</p>
                    <div class="ms-4 ">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Yes" value="Yes">
                            <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="No" checked value="No">
                            <label class="form-check-label" for="inlineCheckbox1">No</label>
                        </div>
                    </div>
                    <div class="mt-5">
                        <label for="studentLastName" class="fw-light">4. This test Administered by and responses recorded by :</label>
                        <input type="text"
                               class="form-control"
                               id="Walter"
                               placeholder="Walter" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pagebreak"> </div>

<div class="px-3 py-2 mt-4 ash_box border border-2">
    <div class="d-flex flex-row">
        <div><p class="fs-5 fw-bold form-label">General Questions</p></div>
        <div class="green_line"></div>
    </div>

    <div>
        <span class="form-label">Student / Additional Comments</span>
        <div class="border border-black rounded-1 mt-2">
            <p class="mx-3 my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus animi adipisci ea quo quis nulla tempora deserunt repellat et eum obcaecati tenetur hic cupiditate quod, vitae minima officiis! Aut obcaecati perferendis hic nihil eius enim possimus eligendi, veritatis veniam quia nesciunt a, ipsum voluptatum itaque eveniet explicabo nostrum dolorum! Possimus assumenda neque reiciendis ipsam commodi voluptatum natus quia ducimus amet! Aliquam modi eligendi in beatae temporibus quis perferendis laboriosam odio? Sapiente, nemo ab nesciunt expedita laudantium excepturi fuga aliquid quo repudiandae omnis necessitatibus quae eaque distinctio laboriosam magnam? Ratione, id facilis maiores illum deleniti hic aspernatur laboriosam architecto molestiae fugiat libero dignissimos eum ullam natus necessitatibus maxime non ipsam voluptatum quisquam quam dolorum placeat. Facilis reiciendis atque cupiditate natus inventore.</p>
        </div>
    </div>
</div>

<div class="py-2 blue_box mt-4 border border-2 bg-opacity-10">
    <div class="ms-3">
        <div class="d-flex flex-row">
            <div><p class="fs-5 fw-bold">Next Test</p></div>
            <div class="green_line"></div>
        </div>
        <div class="print-row">
            <div class="col-3">
                <span>Pre - K to 3:</span>
                <p class="text-secondary">HPA</p>
            </div>
            <div class="col-3">
                <span>4 to 12:</span>
                <p class="text-secondary">IRI</p>
            </div>
            <div class="col me-5">
            </div>
        </div>
    </div>
</div>
