@model GeneratePdfRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/_ReportHeaderPartial.cshtml", "STUDENT LC TEST ADMINISTRATION")
@await Html.PartialAsync("~/Views/Shared/_PageHeaderBar.cshtml", new RazorToPDF.Views.Shared._PageHeaderBarModel { Title = "Initial Intake Information", Number = "1" })

 @* Student details section  *@
 @await Html.PartialAsync("~/Views/Shared/StudentDetails/_StudentInformationPartial.cshtml", new RazorToPDF.Views.Shared.StudentDetails._StudentInformationPartialModel())
        
  
@await Html.PartialAsync("~/Views/Shared/_PageBreakPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/_PageHeaderBar.cshtml", new RazorToPDF.Views.Shared._PageHeaderBarModel { Title = "Some other stuff", Number = "2" })


    @if (Model.ShowInstructions)
    {
        <div class="container">
            <h2>Instructions Section</h2>
            <p>This is the instructions section of the PDF.</p>
        </div>
    }

    @if (Model.ShowTerms)
    {
        <div class="container">
            <h2>Terms Section</h2>
            <p>This is the terms section of the PDF.</p>
        </div>
    }

