@page
@model RazorToPDF.Views.Shared.ConcludingConversation._ConcludingConversationModel
@{
}

<div class="print-row py-2">
    <div class="col">
        <label for="StudentName" class="form-label">Student</label>
        <input type="text"
               class="form-control"
               id="StudentName"
               placeholder="Jane Doe" />
    </div>
    <div class="col">
        <label for="studentDateDateAdministered" class="form-label">Date Date Administered</label>
        <input type="text"
               class="form-control"
               id="studentDateDateAdministered"
               placeholder="10/11/2023" />
    </div>
    <div class="col">
        <label for="studentAdministeredBy" class="form-label">Administered by</label>
        <input type="text"
               class="form-control"
               id="studentAdministeredBy"
               placeholder="Walter" />
    </div>
</div>

<div class="print-row py-2  mt-4 blue_box border border-2">
    <div class="ms-3 col-11">

        <div class="py-2">
            <label class="form-label">
                1. Now that we’re finished with the testing, what do you think about coming here to help you do better in school?
            </label>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Yes">
                    <label class="form-check-label" for="Yes">Want to come here</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" checked value="No">
                    <label class="form-check-label" for="No">Don’t Care</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Not Sure">
                    <label class="form-check-label" for="Not Sure">Don’t want to come here</label>
                </div>
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">Why?</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="mx-3 my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus animi adipisci ea quo quis nulla tempora deserunt repellat et eum obcaecati tenetur hic cupiditate quod, vitae minima officiis! Aut obcaecati perferendis hic nihil eius enim possimus eligendi, veritatis veniam quia nesciunt a, ipsum voluptatum itaque eveniet explicabo nostrum dolorum! Possimus assumenda neque reiciendis ipsam commodi voluptatum natus quia ducimus amet! Aliquam modi eligendi in beatae temporibus quis perferendis laboriosam odio? Sapiente, nemo ab nesciunt expedita laudantium excepturi fuga aliquid quo repudiandae omnis necessitatibus quae eaque distinctio laboriosam magnam? Ratione, id facilis maiores illum deleniti hic aspernatur laboriosam architecto molestiae fugiat libero dignissimos eum ullam natus necessitatibus maxime non ipsam voluptatum quisquam quam dolorum placeat. Facilis reiciendis atque cupiditate natus inventore.</p>
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">2. If you were to come here, what days and times would be best for you?</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="mx-3 my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus animi adipisci ea quo quis nulla tempora deserunt repellat et eum obcaecati tenetur hic cupiditate quod, vitae minima officiis! Aut obcaecati perferendis hic nihil eius enim possimus eligendi, veritatis veniam quia nesciunt a, ipsum voluptatum itaque eveniet explicabo nostrum dolorum! Possimus assumenda neque reiciendis ipsam commodi voluptatum natus quia ducimus amet! Aliquam modi eligendi in beatae temporibus quis perferendis laboriosam odio? Sapiente, nemo ab nesciunt expedita laudantium excepturi fuga aliquid quo repudiandae omnis necessitatibus quae eaque distinctio laboriosam magnam? Ratione, id facilis maiores illum deleniti hic aspernatur laboriosam architecto molestiae fugiat libero dignissimos eum ullam natus necessitatibus maxime non ipsam voluptatum quisquam quam dolorum placeat. Facilis reiciendis atque cupiditate natus inventore.</p>
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">3. What days and times are not good for you? Why?</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="mx-3 my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus animi adipisci ea quo quis nulla tempora deserunt repellat et eum obcaecati tenetur hic cupiditate quod, vitae minima officiis! Aut obcaecati perferendis hic nihil eius enim possimus eligendi, veritatis veniam quia nesciunt a, ipsum voluptatum itaque eveniet explicabo nostrum dolorum! Possimus assumenda neque reiciendis ipsam commodi voluptatum natus quia ducimus amet! Aliquam modi eligendi in beatae temporibus quis perferendis laboriosam odio? Sapiente, nemo ab nesciunt expedita laudantium excepturi fuga aliquid quo repudiandae omnis necessitatibus quae eaque distinctio laboriosam magnam? Ratione, id facilis maiores illum deleniti hic aspernatur laboriosam architecto molestiae fugiat libero dignissimos eum ullam natus necessitatibus maxime non ipsam voluptatum quisquam quam dolorum placeat. Facilis reiciendis atque cupiditate natus inventore.</p>
            </div>
        </div>

        <div class="py-2">
            <span class="form-label">4. Do you know anyone who comes here now or came in the past?</span>
            <div class="border border-black rounded-1 mt-2">
                <p class="mx-3 my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus animi adipisci ea quo quis nulla tempora deserunt repellat et eum obcaecati tenetur hic cupiditate quod, vitae minima officiis! Aut obcaecati perferendis hic nihil eius enim possimus eligendi, veritatis veniam quia nesciunt a, ipsum voluptatum itaque eveniet explicabo nostrum dolorum! Possimus assumenda neque reiciendis ipsam commodi voluptatum natus quia ducimus amet! Aliquam modi eligendi in beatae temporibus quis perferendis laboriosam odio? Sapiente, nemo ab nesciunt expedita laudantium excepturi fuga aliquid quo repudiandae omnis necessitatibus quae eaque distinctio laboriosam magnam? Ratione, id facilis maiores illum deleniti hic aspernatur laboriosam architecto molestiae fugiat libero dignissimos eum ullam natus necessitatibus maxime non ipsam voluptatum quisquam quam dolorum placeat. Facilis reiciendis atque cupiditate natus inventore.</p>
            </div>
        </div>
    </div>
</div>

<div class="print-row py-2  mt-4 ash_box border border-2">
    <div class="ms-3 col-11">
        <div class="d-flex flex-row">
            <div><p class="fs-5 fw-bold form-label">Concluding Conversation With Student and Parents</p></div>
            <div class="green_line"></div>
        </div>

        <div>
            <ul class="normal_font">
                <li><i>You’ve really been winderful!!</i></li>
                <li><i>I’ve enjoyed our conversation and really appreciate how you answered my questions.</i></li>
                <li><i>I’ve taken good notes and I’m sure we’ll be able ti help you do better in school</i></li>
                <li>Thank the student for his or her hard work.</li>
                <li>
                    Praise the student’s performance to the parent:
                    <ul>
                        <li style="list-style-type:none"><i>"He worked hard. He really got through so much, and we look forward to seeing you to discuss the results."</i></li>
                    </ul>
                </li>
                <li>Do not say <i>"He did well"</i>, or similar statements indicating there is no problem, since that’s for the testing to determine.</li>
                <li>Confirm the date and time of the conference with the parent.</li>
                <li>
                    Remind the parent that
                    <ul style="list-style-type:disc">
                        <li>We expect both parents to attend.</li>
                        <li>The student is not to attend.</li>
                    </ul>
                </li>
                <li>Say goodbye</li>

            </ul>
        </div>

    </div>
</div>